.venue-theatre {
    margin-bottom: 66px;
    display: flex;

    @media (max-width: @xl) {
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
}

.venue-hotel {
    margin-bottom: 22px;
    display: flex;

    @media (max-width: @xl) {
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
}
